/******
COMMON
******/

@use './variables' as *;





#app{
    background-color: $app-background;
}

.logo-img {
    width: $logo-width;
    height: $logo-height;
}

button {
    width: $btn-width;
}

