/******
VARIABLES
******/
/* dimensioni */
// dimesnsioni logo
$logo-width: 70px;
$logo-height: 70px;

// dimensioni bottoni 
$btn-width: 100px;

/* dimensioni*/

// background body
$app-background: #000000;

// colore rosso
$red-color: #E50914;

